<ion-header>
    <ion-toolbar color="primary">
        <ion-title><span translate>Phần 3: Trò chơi của cáo và thỏ: Ai được, ai mất?</span></ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/lecture"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
    <h1>Phần 3: Trò chơi của cáo và thỏ: Ai được, ai mất?</h1>
    <p>Trong trò chơi của cáo và thỏ, lợi ích của cáo là sự mất mát của thỏ và hơn thế là sự suy giảm lòng tin của xã hội vào thị trường. Trong một vòng xoáy của thị trường, có thể lúc này bạn là cáo, nhưng rất có thể trong một trò chơi khác bạn lại là thỏ.
    </p>
    <p>Tôi đã từng chứng kiến một con cáo trở thành thỏ suy sụp đến thế nào, thậm chí nói chuyện (chat) với tôi trong tâm lý tìm đến cái chết. Tôi đã dành nhiều thời gian động viên và hỗ trợ tâm lý, người đó mới dần nguôi ngoai và sau này trở lại. (Rất xin lỗi nếu người đó đọc được dòng này, nhưng đó là kỷ niệm và bạn đã vượt qua nó một cách xứng đáng).
    </p>
    <p>Tôi cũng đã nói chuyện với nhiều con cáo, những người kiếm được rất nhiều tiền từ các trò chơi chứng khoán. Nhiều trong số họ sau này dùng tiền mình kiếm được để làm từ thiện, như là một cách cho đi và trả lại cho đời. Giả sử, nếu được làm lại, rất có thể họ đã nghĩ khác - ít nhất tôi tin rằng họ sẽ không thiết kế trò chơi cho những công ty bẩn.
    </p>
    <p>Dù biết rằng trò chơi của cáo và thỏ sẽ luôn tồn tại cùng thị trường, ở đâu cũng vậy (ngay như tại Anh thì điều này – thao túng giá - cũng vẫn cứ xảy ra), nhưng hậu quả của nó chắc chắn sẽ ít nặng nề nếu trò chơi được thiết kế trên nền những công ty sạch. Tôi tin vào điều này bởi thị trường chứng khoán xét cho cùng luôn tăng điểm và đặc điểm của nó là tăng thì lâu nhưng giảm thì rất nhanh. Bởi vậy, nếu chẳng may bạn bị mắc kẹt trong một trò chơi và đó là công ty sạch, bạn vẫn có thể yên tâm với nó. Nhưng nếu bạn sử dụng đòn bẩy thì có thể sẽ rất khác bởi vì bạn có thể vỡ nợ trước khi giá phục hồi. Vậy hãy để ý quá trình thực chiến để quyết định khi nào dừng dùng đòn bẩy.
    </p>
    <p>Nếu bạn lựa chọn một công ty sạch, theo tôi có hai thứ bạn cần phải tìm hiểu là mô hình kinh doanh và cách công ty quản trị mô hình đó như thế nào. Khi còn trong nước, tại các cuộc hội thảo tôi hay dùng cụm từ “công thức tạo tiền” để ám chỉ cách thức mà tiền được tạo ra từ mô hình kinh doanh. Khi quay trở lại Anh, khi thiết kế các chương trình học mới và thiết kế hoạt động cho quỹ đầu tư sinh viên, tôi có dịp nói chuyện với nhiều người làm trong ngành ngân hàng đầu tư tại đây và nhận thấy họ quan tâm nhiều hơn đến vấn đề quản trị doanh nghiệp để đảm bảo rằng mô hình kinh doanh hoạt động tốt.
    </p>
    <p>Trong các cuộc họp về đầu tư với quỹ tại Anh mà tôi tham dự, gần như các mô hình định giá không được hỏi, mà chủ yếu là về mô hình kinh doanh và quản trị. Thậm chí, trong cuộc họp gần nhất chỉ một tuần trước, một người làm ngân hàng đầu tư đã nói rằng chương trình học mà tôi thiết kế nên đi xa hơn trong vấn đề quản trị, nó không phải chỉ là quan hệ hướng tới giá trị cổ đông, mà là xã hội, bởi đó là xu thế.
    </p>
    <p>Nhưng việc xác định một công ty sạch không đơn giản. Vấn đề của thị trường chứng khoán là thông tin không cân xứng. Nhà đầu tư thường biết quá ít về công ty (do chi phí để họ tự tìm hiểu quá lớn) và bởi vậy những công ty sạch bị đánh đồng với những công ty bẩn. Hệ quả là những thông tin rò rỉ kiểu như lợi nhuận “đột biến” được dùng như là thước đo duy nhất. Do những công ty bẩn được hưởng lợi, họ sẽ không làm gì, thậm chí tìm cách tiếp tục rò rỉ tin bẩn. Bởi vậy, những công ty sạch sẽ phải chủ động trình bày, thông tin cho nhà đầu tư, để họ biết về mô hình kinh doanh và mô hình quản trị. Khi công ty sạch được nhận diện, rủi ro thấp hơn trong khi kỳ vọng lợi nhuận từ trò chơi cáo thỏ là như nhau, công ty sạch chắc chắn sẽ được chọn. Thị trường sẽ tốt hơn nếu có nhiều công ty sạch được nhận diện.
    </p>
    <p>Tôi kết thúc chuyện cáo và thỏ ở đây để chuẩn bị quay lại công việc thường nhật sau kỳ nghỉ. Nhắc chuyện cũ theo cách hài hước thực ra là để muốn khuyến cáo một việc nghiêm túc rằng chúng ta nên hướng tới các trò chơi sạch. Luật chứng khoán và UBCK cũng đã có nhiều tiến bộ trong việc xây dựng các công ty sạch. Luật về TV HĐQT độc lập thực ra là một bước tiến quan trọng, nếu làm tốt sẽ tạo ra các công ty sạch, thị trường sạch.
    </p>
    <p>PS: Một phần của những điều trên nằm trong một dự án nghiên cứu của trường mà tôi đang triển khai với một công ty để tìm hiểu về quá trình tạo ra giá trị doanh nghiệp nên sau này hy vọng có thể chia sẻ chi tiết thêm. Nếu các bạn (doanh nghiệp) muốn tìm hiểu thêm về hai vấn đề tôi nêu ở trên, cứ inbox, tôi sẵn sàng chia sẻ vào một thời điểm thích hợp trong năm mới.
    </p>
</ion-content>
