<ion-header>
  <ion-toolbar color="primary">
    <ion-title><span translate>Bài 2: Hiểu chu kỳ kinh tế, thị trường và tâm lý</span></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lecture"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <h1>Bài 13: Một số rủi ro ra quyết định (phần tiếp của Bài 12)
  </h1>
  <h3>Giao dịch quá nhiều
  </h3>
  <p>Giao dịch quá nhiều mang lại lợi nhuận thấp hơn. Nhưng tôi cũng không tin rằng ai đó có thể chỉ giữ mà không mua bán khi giá tăng giảm. Mặc dù thực tế thống kê cho thấy có nhiều loại cổ phiếu tăng tới vài chục lần trong 10 năm qua, đơn giản là do họ tính toán giá hiện tại so với giá trước đây, nhưng thực hành giao dịch có lẽ không ai làm được như vậy. Nếu được có thể do họ quên.
  </p>
  <p>Đó là vì tâm lý con người có xu hướng mua thấp bán cao, ít nhất cũng là để trung bình giá tốt mặc dù mục tiêu vẫn là dài hạn. Nói cách khác, chúng ta phải chấp nhận một thực tế là chúng ta có ra có vào, nhưng kiểm soát được tần suất là quan trọng và chủ yếu là do cách chúng ta ứng xử với thông tin. Nếu chúng ta ngồi nhìn bảng điện thường xuyên, la cà nhiều diễn đàn, chúng ta có xu hướng giao dịch nhiều hơn. Đó là vì khi đó các thông tin nhiễu làm chúng ta quên mất lý do để chúng ta mua bán.
  </p>
  <p>Một lý do quạn trọng khác là chúng ta phụ thuộc và có xu hướng sử dụng tín hiệu phân tích kỹ thuật trong giao dịch mà không hiểu bản chất của nó. Nếu bạn hiểu rằng phân tích kỹ thuật được xây dựng dựa trên giao dịch nhanh, thường xuyên, trong ngày, tại các thị trường phát triển và cho các loại tài sản không bị giới hạn bởi vấn đề T+3, bạn sẽ thấy rằng khi ứng dụng nó vào giao dịch cổ phiếu tại Việt nam cần một sự hiểu biết ngoài những gì sách nói. Mặc dù bạn có thể đúng khi quyết định mua, nhưng bạn cũng có thể bị bẫy T+. Quyết định bán sai sửa dễ hơn bởi bạn có thể ứng tiền mua lại, nhưng quyết định mua sai không sửa được.
  </p>
  <h3>Một số vấn đề khác
  </h3>
  <p>Nhiều người gặp phải vấn đề thích một cổ phiếu nào đó quá, đặc biệt khi bạn đã từng thành công với nó. Bạn thường có xu hướng theo dõi các cổ phiếu này. Khi bạn nắm giữ nó, mặc dù lý do để bạn tin rằng giá tăng đã thay đổi, bạn vẫn cố tìm cách nghĩ khác để không bán nó. Ngược lại, khi giá giảm, bạn quá sớm để lao vào nó.
  </p>
  <p>Nhiều người khác lại gặp phải vấn đề cổ phiếu khác tốt hơn. Nghĩa là mặc dù bạn đã có một lý do tốt để mua cổ phiếu của bạn, nhưng khi nhìn sang các cổ phiếu khác, bạn nhận thấy rằng các cổ phiếu đó tăng tốt hơn và bạn quyết định bán để mua cổ phiếu đó. Nhưng khi hoán đổi như vậy, bạn thường bị chậm, đặc biệt là khi thị trường sideways. Bạn tự đánh mất lợi thế T+ của mình, và rủi rỏ hơn, bạn đã bỏ qua nguyên tắc chọn cổ phiếu của mình. Bạn sẽ thấy rằng rất thường xuyên bán xong thì cổ phiếu của bạn lại tăng trong khi cổ phiếu mới mua lại giảm không kịp T+3.
  </p>
  <p>Một vấn đề khác là sự nhầm lẫn giữa cổ phiếu và công ty. Bạn hãy luôn nhớ rằng bạn kiếm được tiền nhờ cổ phiếu tăng giá chứ không phải do công ty tốt lên. Điều này có nghĩa là mọi công ty đều có cơ hội nếu bạn mua được giá tốt. Một công ty tốt không có nghĩa là cổ phiếu của nó nên mua với bất kỳ giá nào, và ngược lại. Bạn có thể thấy là trong rất nhiều trường hợp, các cổ phiếu trà đá mới là các cổ phiếu mang lại cho bạn lợi nhuận cao nhất. Hoặc nhiều người nghĩ rằng PE thấp là tốt trong khi thực tế nhiều người khác lại nghĩ nếu tốt thì giá đã tăng và PE đã phải cao. Như vậy, dòng tiền cuối cùng vẫn là yếu tố quan trọng. Tất nhiên tôi không cổ vũ các công ty trà đá, nhưng tôi muốn nói rằng kỳ vọng lợi nhuận cao đồng nghĩa với rủi ro cao.
  </p>
  <p>Một chuyện thường xảy ra ở Việt nam là khả năng dựng chuyện, đặc biệt trên các diễn đàn hay mạng xã hội. Bạn sẽ nhận thấy rằng có những cổ phiếu được lặp đi lặp lại một câu chuyện mà bạn nghe thì hợp lý, nhưng chẳng thể nhìn thấy gì trên báo cáo tài chính. Những câu chuyện dàn dựng đó tận dụng một nguyên lý về bản chất tâm lý con người là cái gì nghe lặp đi lặp lại sẽ dẫn tới sự tưởng thật. Và khi nhiều người nghĩ rằng nó thật thì họ mua, giá cổ phiếu sẽ tăng và khi giá tăng thì nó càng làm cho mọi người tin rằng câu chuyện dàn dựng là đúng. Những cổ phiếu như vậy thường lôi kéo bạn vào trò chơi của cáo và thỏ. Mặc dù công ty tốt không đảm bảo rằng cổ phiếu tăng giá, nhưng có một điều chắc chắn là một công ty có câu chuyện tốt thì nó phải được thể hiện trên báo cáo tài chính./.
  </p>
</ion-content>
