<ion-header>
  <ion-toolbar color="primary">
    <ion-title><span translate>Bài 2: Hiểu chu kỳ kinh tế, thị trường và tâm lý</span></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lecture"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <h1>Bài 11: Hiểu nguyên lý hoạt động các chỉ số kỹ thuật
  </h1>
  <p>Các chỉ số kỹ thuật là nhóm kiến thức thứ hai trong số 3 nhóm kiến thức cơ bản mà tôi đã đề cập trong các bài trước. Có cả nghìn chỉ số kỹ thuật và hàng ngày người ta vẫn tạo ra các chỉ số kỹ thuật khác nhau. Bạn cũng có thể tạo ra các chỉ số kỹ thuật cho riêng mình. Về cơ bản, nó là các chỉ số được tính toán dựa trên biến động giá cả và khối lượng.</p>
  <h3>Hai nhóm chỉ số
  </h3>
  <p>Vì có cả nghìn chỉ số kỹ thuật nên những người mới bắt đầu thường bị choáng ngợp và có cảm giác phức tạp bởi vì thậm chí ngay cả cái tên của nó cũng đã khó mà nhớ hết. Nhưng nếu bạn biết rằng nó thực chất chỉ có hai nhóm chỉ số và gần như các chỉ số trong cùng nhóm thì vận động giống nhau, nên bạn chỉ cần nghiên cứu và sử dụng thành thạo 1-2 chỉ số trong mỗi nhóm là đủ.
  </p>
  <p>Hai nhóm chỉ số mà tôi đề cập bao gồm nhóm chỉ số trung bình động và nhóm chỉ số thể hiện sức mạnh xu hướng. Để đơn giản, khi bạn sử dụng biểu đồ kỹ thuật mà hầu hết các trang tài chính tại Việt nam đều cung cấp tiện ích này, bạn chỉ cần nhớ rằng bất cứ chỉ số nào khi bạn đưa thêm vào mà nó gắn vào cửa sổ đồ thị giá thì đó là nhóm chỉ số trung bình động. Ví dụ thuộc nhóm này bao gồm như MA, SMA, EMA, Bollinger Band …
  </p>
  <p>Còn các chỉ số thuộc nhóm thể hiện sức mạnh xu hướng, khi bạn thêm vào nó sẽ có một cửa sổ riêng không cùng cửa số giá. Ví dụ thuộc nhóm này bao gồm RSI, CCI, Momentum, Stochastic Oscillator and Williams %R …Một số chỉ số lưỡng tính, rất ít, như MACD nằm ở cửa số tách riêng nhưng nó có thể coi như là nhóm chỉ số trung bình động.
  </p>
  <p>Quan niệm chung là các chỉ số trung bình động thường là chậm và mang tính xác nhận diễn biến giá đã xảy ra, trong khi các chỉ số thuộc nhóm thể hiện sức mạnh xu hướng thường là dẫn dắt và có thể dùng để cảnh báo diễn biến giá tiếp theo. Điều này, tuy nhiên, theo tôi là không phải như vậy. Bởi vì nếu nó có thể dẫn dắt và dự báo thì dễ quá. Tất cả các chỉ số kỹ thuật đều chậm bởi nó phản ánh cái đã qua. Nhưng nó giúp chúng ta có thể phán đoán nếu biết kết hợp với phân tích giá và lượng để nhận diện tâm lý thị trường. Và tất nhiên bạn nên đặt phân tích kỹ thuật trong một bối cảnh lớn của các yếu tố cơ bản nữa.
  </p>
  <h3>Nguyên tắc quan trọng
  </h3>
  <p>Một nguyên tắc quan trọng trong phân tích kỹ thuật mà bạn cần nhớ là cho đến khi mọi việc được xác nhận, mọi hành động phải dựa trên hiện tại tiếp diễn. Ví dụ, nếu bạn nhìn thấy một mô hình đảo chiều hoặc một chỉ số kỹ thuật đang cho thẩy khả năng đảo chiểu và bạn đang chờ nó xác nhận thì không nên vội vàng hành động trong lúc chờ mà nên hành động như đang tiếp diễn cho đến khi nó xác nhận. Và khi nó đã xác nhận, thì cách hành xử của bạn nên là ngay lập tức bỏ qua hình ảnh cũ, không cố ép suy nghĩ hay níu kéo suy nghĩ của mình vào cái cũ. Phần lớn các thay đổi quan trọng, đặc biệt xu hướng, thường có hiện tượng kiểm tra lại – retest nên bạn cần chuẩn bị tâm lý cho điều này.
  </p>
  <h3>Cách dùng
  </h3>
  <p>Trở lại vấn đề các chỉ số kỹ thuật thì cách dùng nó như thế nào mới là điều quan trọng. Ngoài việc bạn chỉ nên chọn 1-2 chỉ số cho mỗi nhóm bạn thực sự tin tưởng hoặc đơn giản là dễ dùng, bạn nên hình thành cho mình một phương pháp đọc chỉ số kỹ thuật, tùy thuộc vào nhóm chỉ số.
  </p>
  <p>Với nhóm chỉ số trung bình động, bạn nên coi đó giống như là các đường hỗ trợ và kháng cự động. Phương pháp này thường được sử dụng tốt nhất trong một thị trường có xu hướng. Còn nếu đó là một thị trường dao động, thì việc sử dụng nó như là đường cắt lên, cắt xuống – tức là đường giá cắt đường trung bình động, hay đường trung binh động ngắn cắt đường trung bình dài… thường được sử dụng.
  </p>
  <p>Với nhóm chỉ số thể hiện sức mạnh xu hướng, có ba phương pháp dùng nó. Nhóm chỉ số này thường có đặc điểm là có 3 đường giới hạn trên, dưới và trung bình hoặc ít nhất là nó xoay quanh một đường trung tâm. Phương pháp đọc đơn giản nhất là nếu nó hướng lên hoặc hướng xuống thể hiện xu thế giá hiện hữu là mạnh lên hay yếu đi. Khi nó đi vào vùng giới hạn trên thì gọi là quá mua – mua nhiều quá còn khi nó đi vào vùng giới hạn dưới thì gọi là quá bán – bán nhiều quá. Việc nó là quá mua hay quá bán không nhất thiết có nghĩa rằng giá nó sẽ giảm hoặc tăng lại ngay, mà có ý nghĩa rằng bạn nên theo dõi chặt chẽ diễn biến giá và lượng để cân nhắc. Cách dùng này thường là những người mới bắt đầu sử dụng phân tích kỹ thuật hay dùng.
  </p>
  <p>Phương pháp đọc thứ hai là dùng chính các kiến thức về đường hỗ trợ và kháng cự áp dụng cho chỉ số. Nghĩa là, bạn phân tích chỉ số giống như bạn phân tích giá. Nếu nó gặp đỉnh cao trước đó, thì nó cũng có xu hướng giảm và khi xuống ngang bằng đáy cũ trước đó thì nó có thể báo hiệu đảo chiều. Cách sử dụng này thường được dùng cho những trường hợp tăng giảm mạnh bất ngờ của giá, nôm na gọi là bắt đáy hoặc đoán đỉnh trong một thị trường biến động nhanh và mạnh.
  </p>
  <p>Phương pháp đọc thứ ba là sử dụng kiến thức về hành vi tâm lý để lý giải. Vì các chỉ số thể hiện sức mạnh xu hướng hiện tại nên nếu giá tăng mà sức mạnh giảm hoặc giá giảm mà sức mạnh tăng thì đó đều là dấu hiệu của những trường hợp đảo chiều chuẩn bị xảy ra. Tất nhiên, đó chỉ là cảnh báo và bạn cần nhìn vào giá và lượng nữa. Lưu ý rằng phương pháp đọc này thường dùng tốt nhất để quan sát diễn biến giá trong một khoảng thời gian, nói cách khác là phù hợp với giao dịch theo xu hướng. Trong kỹ thuật người ta gọi là phân tích sự phân kỳ giữa giá và chỉ số.
  </p>
  <p>Hiểu những nguyên lý căn bản nêu trên và thực hành quan sát quá khứ sẽ giúp bạn sử dụng chỉ số kỹ thuật tự tin hơn. Và một lần nữa tôi nhấn mạnh rằng tôi dùng từ căn bản trong bài viết này hay các bài viết khác không có nghĩa là nó đơn giản, mà thực sự nó chính là những gì mọi người gọi là phân tích kỹ thuật nâng cao nhưng tôi đã cố gắng trình bày nó theo cách đơn giản nhất có thể để các bạn tự học
  </p>
</ion-content>
