<ion-header>
  <ion-toolbar color="primary">
    <ion-title><span translate>Bài 2: Hiểu chu kỳ kinh tế, thị trường và tâm lý</span></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lecture"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <h1>Bài 12: Một số rủi ro ra quyết định
  </h1>
  <p>Nhiều bạn hỏi tôi về cách quản trị rủi ro trong đầu tư chứng khoán. Một cách thành thực, ngay cả trong học thuật thì sách viết về quản trị rủi ro đối với giao dịch chứng khoán gần như không có, trừ các lý thuyết về đa dạng hóa đầu tư và quản trị danh mục đầu tư chỉ thích hợp cho nhà đầu tư tổ chức. Những điều tôi chia sẻ hôm nay dựa trên thực tiễn kết hợp với một số lý thuyết về tâm lý hành vi hơn là quản trị rủi ro tài chính mà bạn thường được học ở trường. Tôi viết những điều này dựa trên vô số những lần vấp ngã bên cạnh những thành công.
  </p>
  <h3>Biết rủi ro là đã hạn chế rủi ro
  </h3>
  <p>Điều đầu tiên mà chúng ta gặp phải khi quyết định mua một cổ phiếu là chúng ta thường chỉ nghĩ đến lợi nhuận mà bỏ qua rủi ro. Kể cả khi chúng ta có đặt ra nguyên tắc cắt lỗ, chúng ta cũng thường bỏ qua do tâm lý mất tiền làm chúng ta đau đớn khi hiện thực hóa nó. Thậm chí khi chúng ta muốn thực hiện việc cắt lỗ, chúng ta cũng khó thực hiện được bởi vì chúng ta bị bẫy vào T+3. Có vô số lý do để dẫn tới những điều này, nhưng về cơ bản nó sai từ khi bắt đầu, chúng ta thường chỉ nhìn vào lợi nhuận mà không nghĩ đến mất tiền.
  </p>
  <h3>Bắt đáy
  </h3>
  <p>Nói những điều tưởng chừng đơn giản như vậy nhưng hàm ý của nó lại cực kỳ quan trọng. Chúng ta chỉ có thể hạn chế rủi ro nếu chúng ta biết rằng nó tồn tại. Tôi lấy ví dụ nếu bạn nhảy vào bắt giá đang rơi với hy vọng đó là đáy, bạn cần hiểu rằng khả năng giá giảm tiếp là rất lớn. Nếu bạn biết điều đó, bạn sẽ bình thản khi nó giảm thêm 10% hay 20%. Bạn sẽ không cuống cuồng hỏi người này người kia xem có nên bán không khi nó đã giảm 20% hoặc hơn. Bởi vì khi bạn cuống, bạn sẽ hành động sai một lần nữa là bán đúng đáy thật. Như vậy, khi bạn quyết định bắt giá đang rơi, và bạn hiểu rằng có rủi ro, bạn sẽ không tất tay với nó. Mỗi người có một cách khác nhau với việc này, nhưng cách tiếp cận chung là chia tiền thành các phần và vào dần. Lúc này đòn bẩy chưa sử dụng.
  </p>
  <p>Nhưng tôi không khuyên bạn bắt giá rơi. Tôi đã từng nhận mua cổ phiếu với thỏa thuận 2 phiên giá sàn, tức là với dự tính nó còn giảm thêm khá nhiều so với giá ngày thỏa thuận, nhưng rồi đến ngày giao dịch, giá vẫn cứ giảm. Điều đó có nghĩa là khi dấu hiệu chưa rõ, dù chúng ta có bảo hiểm bằng 2 phiên giảm sàn, thì rủi ro vẫn rất lớn. Tôi nhận ra rằng khi nào các dấu hiệu giá dừng giảm trở nên rõ ràng hơn thì mới nên nghĩ đến việc bắt đáy. Thậm chí, khi giá có dấu hiệu tăng trở lại, bạn vào chậm vài % so với việc bắt đúng đáy cũng không phải là việc quá tồi bởi vì khi đó bạn ít bị đau đầu bởi nỗi sợ giá giảm hơn. Nếu bạn quy đổi nó ra là sức khỏe, là mối quạn hệ trong gia đình, thì sự đánh đổi này thực ra là rất đáng giá.
  </p>
  <p>Tất nhiên tôi đang muốn nói rằng khi bạn quyết định bắt đáy hay mua chậm hơn, bạn đã phải dự kiến rằng việc tăng giá là đủ dài hơn T+3. Còn nếu bạn không nghĩ tới điều đó, chỉ nghĩ tới bắt đáy vì giá giảm mạnh thì đó lại là một rủi ro khác – rủi ro do yêu bảng điện quá và bị cuốn theo nó. Bạn sẽ nói rằng nếu rời nó thì mất cơ hội. Đúng vậy. Nhưng quan điểm của tôi là hãy rời nó khi bạn nhận thấy rằng lý do để bạn bán cổ phiếu trước đó còn đúng. Bạn có thể vào muộn.
  </p>
  <h3>Bán đỉnh
  </h3>
  <p>Ngược với bắt đáy là bán đỉnh. Bạn luôn mong muốn bán được ở đỉnh. Nhưng bạn sẽ chẳng bao giờ biết đâu là đỉnh cho đến khi nó xảy ra, cũng như đáy. Tôi đã từng làm cả hai việc là bán sớm khi tôi cảm nhận rằng mọi thứ là quá nóng, và bán muôn khi mọi việc trở nên rõ ràng. Kết quả là khi bán sớm giá vẫn còn tăng dẫn tới cảm giác tiếc nuối và mua lại để rồi lại bị bẫy. Và ở trường hơp sau thì tôi bị rơi vào trạng thái mất thanh khoản và cổ phiếu giảm mà không có ai mua để bán cả.
  </p>
  <p>Những lần sau tôi bán trước rồi quên bảng điện đi một thời gian, khi nhìn lại giá giảm hơn giá tôi đã bán. Tôi nhận ra rằng nếu tôi kiên định với nguyên tắc là một khi lý do để mua không còn đúng nữa thì phải nghĩ ngay đến việc bán, tránh mọi suy nghĩ khác hoặc bị tác động bởi nhiễu động thị trường, thì kết quả thường tốt hơn, mặc dù nếu nhìn bảng điện sau khi bán xong cảm giác tiếc nuối xuất hiện rất mạnh. Kiềm chế được ham muốn mua lại là quan trọng. Từ đó, bài học tôi rút ra là khi giao dịch có nguyên tắc thì tỷ lệ thành công tốt hơn. Và nguyên tắc đó là: khi mua cổ phiếu vì lý do gì thì khi bán cũng sử dụng lý do đó.
  </p>
  <p>Nhưng khi giao dịch càng nhiều loại cổ phiếu, tôi nhận thấy rằng thực ra mỗi loại cố phiếu có các cách giao dịch rất khác nhau. Có những cổ phiếu ra sớm là tốt, như loại hay mất thanh khoản, nhưng cũng có loại ra chậm lại tốt hơn một chút bởi thường có một nỗ lực đẩy giá cuối cùng. Và sớm hay chậm ở đây có một cột mốc quan trọng là khối lượng giao dịch đột biến. Khi khối lượng giao dịch đột biến xuất hiện ở mức giá cao sau một thời gian dài tăng giá, thường có một thời điểm trọng yếu xẩy ra ở ngày thứ 3 để bạn quan sát. Tôi nhắc lại: không có nghĩa là bán, mà là quan sát. Khi đó, giá thường thấp hơn đủ để bạn mắc kẹt ở đỉnh nếu nỗ lức đẩy giá cuối cùng là yếu. Mọi người hay nói vui gọi là kỹ thuật nhốt T+. Còn nếu hôm đó giá vẫn tốt, bạn có thể để giá chạy thêm nhưng lúc này mức độ sẵn sàng bán luôn rất cao.
  </p>
  <p>Nói ngắn gọn, một khi lý do bạn mua cổ phiếu đã thay đổi, bạn nên quyết định bán. Còn việc bạn bán ở mức giá nào phụ thuộc rất nhiều vào khả năng phán đoán và quan sát diễn biến giá lượng. Còn nếu bạn không rõ, hãy sử dụng phương pháp đơn giản nhất là chia làm 3 lần. Ít nhất việc chia làm 3 này cũng giúp giải tỏa được vấn đề tâm lý sợ sai của bạn.
  </p>
</ion-content>
