<ion-header>
  <ion-toolbar color="primary">
    <ion-title><span translate>Bài 2: Hiểu chu kỳ kinh tế, thị trường và tâm lý</span></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lecture"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <h1>Bài 10: Hiểu nguyên lý các mô hình kỹ thuật
  </h1>
  <p>Trong bài nói về hiểu và ứng dụng phân tích kỹ thuật, tôi đã nhấn mạnh rằng hiểu hành vi giá trong quan hệ với khối lượng là quan trọng. Mặc dù điều đó nghe đơn giản nhưng không phải ai cũng làm được và phần lớn mọi người đều có xu hướng “nhớ” một bức tranh thay vì “nhìn thấy” sự chuyển động tâm lý của người mua và người bán trên một biểu đồ kỹ thuật.
  </p>
  <p>Kiến thức cơ bản về giá và lượng đó thực ra không phải là phân tích kỹ thuật cơ bản mà đó mới chính là phân tích kỹ thuật cao cấp theo đúng nghĩa, tất nhiên nếu bạn hiểu nó. Tôi đã xem rất nhiều sách về phân tích kỹ thuật, bản thân cũng là một trong những người khởi xướng các bản tin và thực hiện rất nhiều khóa học về phân tích kỹ thuật giai đoạn 2007-2008, đủ để kết luận rằng những gì được gọi là nâng cao trong phân tích kỹ thuật thực ra chỉ là các tình huống đặc biệt của xu thế giá và lượng. Nếu bạn thực sự hiểu nguyên lý, mọi việc sẽ trở nên đơn giản. Và mục tiêu của tôi luôn là làm cho mọi thứ trở thành đơn giản.
  </p>
  <p>Trong phân tích kỹ thuật, các mô hình kỹ thuật là một trong 3 nhóm kiến thức cơ bản cần biết. Các nhóm khác là quan hệ cung cầu, giá và lượng, trong đó có kháng cự, hỗ trợ và xu hướng, và nhóm khác là chỉ số kỹ thuật trong đó có các chỉ số trung bình động và chỉ số thể hiện xu hướng. Các mẫu hình về khoảng trống (gap) hay kiểu đồ thị nến là kiến thức cơ bản nằm trong nhóm 1.
  </p>
  <p>Khi phân tích các mô hình kỹ thuật, đừng để bộ não của bạn bị phân tâm bởi những tên gọi như mô hình hai đỉnh, hay đáy, vai đầu vai, phếu, cờ bay …những thứ đó có thể làm cho bạn cảm thấy nó quá phức tạp (và nhiều người vì thế mà gọi là nâng cao). Nếu bạn tinh ý, bạn sẽ thấy rằng các mô hình kỹ thuật đều phản ánh một sự lưỡng lự, bế tắc trong giao dịch, hay nói đúng hơn là sự ngập ngừng của cả bên mua và bên bán.
  </p>
  <p>Vì lý do đó, khoảng giá bạn nhìn thấy bao giờ cũng có hình dạng nhìn như là một dải dao động, nó có thể là đều nhau “=” (kỹ thuật gọi là channel), nó có thể là nở hậu “<” (phễu mở rộng) hoặc nó có thể là khép lại “>” tam giác, phễu), và nó cũng có thể là hướng lên trên “//”, hướng xuống dưới “\\” hoặc nằm ngang “=”.
  </p>
  <p>Vậy nguyên lý cần nhớ là: bất cứ cái gì cân bằng thì thường có xu hướng tiếp diễn trừ khi nó ở cuối xu hướng, và bất kỳ cái gì hướng lên hoặc hướng xuống thì hướng đi tiếp theo sẽ là ngược lại ngược lại. Để giải thích tại sao lại như vậy, bạn lại nên nhớ một nguyên lý khác mà tôi đã trình bày: một xu hướng tăng là đỉnh cao cao hơn đỉnh trước và đáy sau cao hơn đáy trước và ngược lại.
  </p>
  <p>Với cách tiếp cận như vậy, bạn sẽ không cần phải nhớ tên của các mô hình, mà chỉ cần nhận diện được hình dạng của biến động giá. Và hãy luôn nhớ rằng khối lượng giao dịch sẽ giúp bạn hiểu hơn những gì đang diễn ra. Mẫu hình kỹ thuật là để bạn chú ý theo dõi vì nó đặc biệt, chứ không có nghĩa là bạn ngay lập tức hành động theo nó.
  </p>
  <p>
    Kèm với bài viết là “36 mô hình kỹ thuật phổ biến” mà tôi tổng hợp để các bạn tham khảo. Nhưng lời khuyên của tôi là không nên nhớ nó, mà nên nhớ nguyên lý tôi nêu ở trên.
  </p>
  <p>Chúc mừng năm mới các bạn và hy vọng một năm giao dịch thành công với tất cả!
  </p>
</ion-content>
