<ion-header>
    <ion-toolbar color="primary">
        <ion-title><span translate>Phần 2: Trò chơi của thỏ và cáo: Thực chiến.</span></ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/lecture"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
    <h1>Phần 2: Trò chơi của thỏ và cáo: Thực chiến.</h1>
    <p>Trong khi chiến dịch thông tin chỉ là đòn tâm lý và những con cáo có thể giấu bản chất của mình một cách tinh vi qua nhiều vỏ bọc thông tin khác nhau, điều họ không thể che dấu chính là hành động của họ.
    </p>
    <p>Trên chứng trường, điều mà chúng ta nhìn thấy hàng ngày là giá và KLGD. Mặc dù KLGD là kết quả của cả bên mua và bên bán, nó thực chất có ý nghĩa rất khác nhau khi giá lên và giá xuống. Một chút kiến thức về cung cầu cho chúng ta biết rằng giá lên là vì có nhiều người (lượng) muốn mua hơn muốn bán và do vậy, KLGD nhìn thấy là do người bán quyết định. Điều này có nghĩa là nếu KLGD tăng lên khi giá tăng, mặc dù người mua vẫn lớn, số người bán bắt đầu tăng lên. Người ta bán là vì người ta bắt đầu tin rằng giá khó có thể còn tăng nữa. Khi KLGD càng tăng lên, số người nắm giữ cổ phiếu bán ra càng nhiều.
    </p>
    <p>Bạn sẽ nhận thấy rằng khi giá tăng và KLGD bắt đầu tăng nhanh, những tin tức tốt được rò rỉ càng nhiều. Đó chính là lúc những con cáo khéo léo rò rỉ những thông đã sản xuất sẵn để lôi kéo những con thỏ tham gia cuộc chơi. Những con thỏ không có nghi ngờ gì bởi vì giá tăng và KLGD tăng là điều họ nghĩ do tiền quá nhiều, cuộc chơi còn lâu mới kết thúc, mình sẽ chạy trước. Rồi bỗng một ngày, KLGD tăng một cách đột biến, giá biến động mạnh trong ngày và các con thỏ lại chặc lưỡi bởi vài ngày sau sau đó giá vẫn tăng.
    </p>
    <p>Nhưng đó là lúc những con cáo bắt đầu ra hàng. KLGD đột biến có nghĩa rằng họ bán không chỉ những gì được giao dịch hàng ngày, mà bán nhiều hơn thế. Nói cách khác, khi KLGD đột biến xảy ra, đó là lúc nhiều người không còn tin giá có thể tăng tiếp. Sau những ngày KLGD đột biến sẽ là quá trình giảm dần của KLGD. Trong lúc này, giá có thể vẫn tăng, nhưng việc KLGD giảm dần có nghĩa rằng những con cáo đã ra hàng và không trở lại. Việc giá tăng chỉ đơn giản là những con thỏ đang tranh đấu với nhau. KLGD cứ giảm, giảm, giảm dần và rồi đến một ngày nào đó, những con thỏ bỗng nhận ra họ là những nhà đầu tư dài hạn.
    </p>
    <p>PS: Tôi viết vui, mô tả thực tế dựa trên kiến thức kinh tế hành vi như là một dạng bổ sung kiến thức và không ám chỉ điều gì về thị trường hay bất kỳ ai. Bạn quyết định thể nào là quyền của bạn
    </p>
</ion-content>
