<ion-header>
    <ion-toolbar color="primary">
        <ion-title><span translate>Đánh cờ tàn</span></ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/lecture"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
    <h1>Đánh cờ tàn</h1>
    <p>Nhìn lại khảo sát tuần trước, có thể thấy rằng tóp 3 cổ phiếu được kỳ vọng giảm thực tế lại tăng tốt hơn thị trường (VNINDEX tăng 5.8%) trong khi DXG tăng 7.5%, ITA tăng 12.7%, MBB tăng 15.7%. Nhóm cố phiếu được kỳ vọng tăng chỉ có FPT tăng 7.1%, PVD tăng 21.3% còn FLC giảm 2.4%.
    </p>
    <p>Điều thú vị nằm ở MBB và FLC. MBB nằm nằm trong top được kỳ vọng giảm giá nhưng thực ra cũng có một lượng bầu kha khá cho việc tăng giá, do vậy có thể coi là không quá chênh lệch về ý kiến. Nhưng điều quan trọng là MBB nằm trong nhóm top cổ phiếu sạch nhất. Ở chiều ngược lại, FLC nằm trong top những cố phiếu không sạch, mặc dù được kỳ vọng tăng và thị trường tăng nhưng thực tế lại giảm.
    </p>
    <p>Điều tôi muốn thấy qua khảo sát là sự lựa chọn giữa “kỳ vọng và mong muốn” và “cổ phiếu sạch và cổ phiếu bẩn”. Dường như chúng ta “mong muốn” cổ phiếu tăng/giảm hơn là “kỳ vọng” và đáng vui là “cổ phiếu sạch” thực sự chiếm ưu thế. Quan sát này cho tôi gợi ý rằng cuộc chiến giữa cáo và thỏ trên phạm vi toàn thị trường đang ở giai đoạn về đích. Nghĩa là, khi chúng ta mong muốn nhiều hơn và lực chọn an toàn hơn, đó chính là lúc chúng ta bất đầu cảm thấy bất an.
    </p>
    <p>Tôi nghĩ rằng cuộc chiến cáo thỏ tại từng cổ phiếu cụ thể mới là điều bạn cần quan tâm lúc này. Còn thị trường chung giống như một bàn cờ tàn, nó có thể gay cấn, giằng co và kéo dài, và nhiều người xem, nhưng để chiến thắng, sống sót và tồn tại, bạn cần phải sử dụng những lựa chọn ít ỏi còn lại một cách khôn ngoan.
    </p>
    <p>Mặc dù trò chơi của cáo và thỏ mô phỏng lại những gì đã xảy ra, như tôi đã nói, điều không thể che giấu là diễn biến giá và lượng. Thị trường có khác, tâm lý có khác, lời nói có khác, nhưng hành vi “bán” không thể khác, nó phải thể hiện qua khối lượng trong điệu kiện thị trường tăng như hiện nay. Tôi không khuyên các bạn mua hay bán, chỉ mong rằng các bạn hiểu cách tiếp cận của tôi để áp dụng cho riêng mình nếu thấy nó hợp lý. Trong thị trường mà chỉ cần bạn giới thiệu "em là F0" mà ai cũng phải ngước nhìn thì điều gì cũng có thể xảy ra
    </p>
</ion-content>
