<ion-header>
    <ion-toolbar color="primary">
        <ion-title><span translate>Phần 1: Trò chơi của cáo và thỏ</span></ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/lecture"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
    <h1>Phần 1: Trò chơi của cáo và thỏ
    </h1>
    <p>Viết về thị trường hứng phấn và triển vọng ra sao lúc này là thừa. Hoặc những câu chuyện thành công bây giờ chắc cũng chẳng phải là điều bổ ích gì. Điều chúng ta thường học được nhiều nhất chính là từ những thất bại. Vậy hãy xem những trò bịp điển hình của thời kỳ 2009/2010, để xem những con cáo đã dụ những con thỏ như thế nào.
    </p>
    <p>Phổ biến nhất là chiến dịch thông tin. Trong một thị trường đầy tiền như thế này, điều các nhà đầu tư cần là “bất kể thông tin gì có thể có” để giao dịch. Nắm bắt được điều này, những nhà thiết kế game thường vận hành một chiến dịch thông tin nhằm phục vụ quy trình Hút - Đẩy -  Xả. Chúng ta sẽ thấy rất quen thuộc khi những thông tin với cụm từ “đột biến” được khéo léo rò rỉ trên các diễn đàn, các nhóm chat hay thậm chí qua các cuộc điện thoại.
    </p>
    <p>Ngày còn làm ở Việt nam, tôi đã từng nhận điện thoại của CEO một doanh nghiệp (giờ đã chỉ còn là cái vỏ sau khi lãnh đạo bán sạch cổ phiếu và lập công ty mới) nói nhỏ rằng công ty anh có lợi nhuận đột biến nhờ biến động giá nguyên liệu, em không nên nói với ai. Và tất nhiên tôi không nói với ai mà chỉ kiểm chứng cho riêng mình. Tôi hiểu rằng thông tin đó được anh ấy gọi cho rất nhiều người, và sự thật là ngay sau hôm đó giá cổ phiếu cứ thế tăng dần và ngoài thị trường mọi người nói với nhau về thông tin lợi nhuận “đột biến”. Giá tăng, khối lượng tăng, và sau đó thì doanh nghiệp chỉ còn là cái vỏ. Nhà đầu tư lặng lẽ, âm thầm, trở thành những cổ đông dài hạn của một công ty mà thực ra nó chẳng còn hoạt động gì.
    </p>
    <p>Những thông tin kiểu như trên cực kỳ phổ biến trên thị trường. Những chiêu trò phổ biến để tạo ra bất kỳ cái gì gọi là “đột biến” được các doanh nghiệp kết hợp với các đội lái thực hiện một cách hoàn hảo. Những trò bịp phổ biến bao gồm việc doanh nghiệp sẽ tạo “đột biến” bằng cách bán tài sản thông qua công ty con, công ty vệ tinh nhằm tạo lợi nhuận và đưa tất cả lợi nhuận vào quý mà họ thấy hợp lý để xả. Hoặc nhiều doanh nghiệp thực hiện dồn lợi nhuận đáng ra có thể dàn trải qua nhiều quý vào một quý phù hợp để xả.
    </p>
    <p>Đó là những doanh nghiệp ít nhất còn có gì để làm. Nhiều nhóm hoặc doanh nghiệp khác thậm chí còn thực hiện những trò bịp lộ liễu hơn bằng những thông tin tương lai không xảy ra. Bạn sẽ không ngạc nhiên khi thấy doanh nghiệp thông báo những dự án bỗng nhiên được hình thành, được phê duyệt, được triển khai, hay doanh nghiệp bỗng nhiên phát hiện ra mỏ đồng, mỏ vàng, mỏ kim cương .v.v. hoặc có nhà đầu tư chiến lược nước ngoài đã đồng ý mua với giá xyz.
    </p>
    <p>Nói tóm lại, nắm bắt được tâm lý của các nhà đầu tư, những người tham gia chỉ vì thấy chứng khoán tăng nhanh quá - những “con thỏ”, cần thông tin để giao dịch, những “con cáo” sẽ “sản xuất” thông tin mà những con thỏ cần. Điều rắc rối là các con thỏ chủ yếu thích nghe những thông tin có lợi chứ không thích nghe các thông tin bất lợi. Và đó chính là “trò chơi của cáo và thỏ”
    </p>
</ion-content>
