<ion-header>
  <ion-toolbar color="primary">
    <ion-title><span translate>Bài 2: Hiểu chu kỳ kinh tế, thị trường và tâm lý</span></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lecture"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <h1>Bài 8: Lựa chọn nguyên tắc đầu tư</h1>
  <p>Bài này có hơi hướng lý thuyết, phù hợp cho các bạn mới, bắt đầu quan tâm, hoặc chưa hình thành cho mình một cách đầu tư nào. Nên hiểu bài này như một gợi ý để bạn xây dựng cho mình một cách tiếp cận riêng và gắn bó với nó lâu dài.
  </p>
  <h3>Hai cách tiếp cận
  </h3>
  <p>Phần lớn các sách giáo khoa và các em sinh viên khi đi học về đầu tư chứng khoán đều được dạy theo hướng đi tìm các công ty có giá trị cao hơn thị giá hiện tại. Đây là cách tiếp cận cơ bản và đúng một cách nhân văn, bởi đầu tư có nghĩa là chúng ta phải bỏ công sức để tìm kiếm chứ không phải đặt cược vào 3 ký tự của mã chứng khoán.
  </p>
  <p>Tuy nhiên, có một thực tế là chúng ta sẽ không bao giờ biết được giá trị của một công ty, hoặc giá trị đó bị thay đổi theo thời điểm tùy vào cảm xúc của chúng ta với thị trường (Bài 3). Điều này dẫn tới một quan điểm khác cho rằng cổ phiếu có giá trị là cổ phiếu lên giá. Và một lần nữa, điều này lại đúng một cách phũ phàng bởi không phải cố phiếu lên giá nào cũng có nền tảng tốt.</p>
  <p>Nhiều người khác không cần quan tâm tới hai cách tiếp cận trên cho rằng giá trị của một cổ phiếu phản ánh bởi quan hệ cung cầu. Điều này tất nhiên đúng bởi bản thân cung cầu đã bao hàm sự cân nhắc về giá trị và sự tăng giá rồi. Nhưng cung cầu trong đầu tư chứng khoán không hoàn toàn giống như cung cầu mà các em sinh viên được học ở trường là “giá càng rẻ cầu càng cao, cung càng thấp”.
  </p>
  <p>Điều đó chỉ đúng cho hàng hóa có giá trị sử dụng và người tiêu dùng cuối cùng. Còn với chứng khoán, cung cầu ở đây là cung cầu của người đi buôn “mua thấp để bán cao”, hoặc “bán cao để mua lại thấp”. Điều này giải thích cho việc tại sao khi cổ phiếu giảm giá người ta sợ không mua thêm, nhưng khi cổ phiếu tăng giá thì người ta lại đua để mua.
  </p>
  <p>Nhưng nếu tinh ý, bạn sẽ thấy rằng những người đầu tư giá trị, nắm giữ lâu dài, thì có thể hiểu giá trị sử dụng của họ là cổ tức. Họ có cách làm rất khác. Khi giá cổ phiếu tăng tới một mức nào đó quá giá trị theo định giá của họ (việc tìm giá trị là khó, bởi vậy nhiều người dùng khái niệm giá cả xoay quanh giá trị nên họ cho rằng giá trung bình là giá trị động, ví dụ trung bình 3 hoặc 5 năm của chỉ số có thể coi là vùng giá trị hợp lý của thị trường như trong bài giảng) họ lặng lẽ bán dần ra, và khi giá giảm (về vùng trung bình cho đến thấp hơn), họ lại âm thầm mua vào. Hành vi của họ không phải là ngược thị trường, mà đơn giản mục tiêu của họ là thực hiện việc “trung bình giá” danh mục theo giá có lợi nhất, chứ không hoàn toàn vì mục tiêu mua đáy bán đỉnh. Họ thường không mua bán thường xuyên và không quan tâm tới bán đúng đỉnh và mua đúng đáy.</p>
  <p>Còn với những người buôn 3 ký tự chứng khoán, điều quan trọng với họ là giá phải tăng mạnh và mua được đúng đáy và bán đúng đỉnh bởi mục tiêu của họ là tối đa hóa lãi vốn. Điều này vô cùng khó. Họ thường có xu hướng mua bán thường xuyên và bị chi phối cảm xúc khi hành động bởi sự lên xuống hàng ngày của thị trường. Sự thật là phần lớn chúng ta trong nhóm này.
  </p>

  <h3>Sai lầm thường thấy
  </h3>
  <p>Trong khi hai cách tiếp cận trên không hề sai thì nhiều người lại hay bị lẫn lộn giữa hai cách tiếp cận dẫn tới hành động sai lầm. Sai lầm thường thấy là họ lựa chọn cổ phiếu theo giá trị nhưng lại muốn nó tăng giá như một cổ phiếu đầu cơ 3 ký tự và khi giá không tăng bằng cổ phiếu đó, người ta vội bán đi để chuyển sang loại cổ phiếu 3 ký tự với tâm lý kiếm lời tối đa trên vốn. Điều này có nghĩa là họ bỏ qua nguyên tắc của chính họ - đầu tư giá trị theo cách chọn – để chạy theo cổ phiếu đầu cơ theo sóng 3 ký tự và thường là họ sẽ nhảy vào đúng lúc nó tăng nhiều nhất – nôm na là đỉnh. Nói cách khác, bạn muốn trở thành những người như Warren Buffet và đọc sách, chọn cổ phiếu theo cách của ông ấy, nhưng bạn lại không hành động như vậy.
  </p>
  <p>Sai lầm phổ biến khác là việc nhiều người chủ động chọn cổ phiếu 3 ký tự để đầu cơ nhưng khi cổ phiếu giảm thì họ lại thực hiện trung bình giá theo cách của người đầu tư giá trị với suy nghĩ rằng nếu nó giảm quá thì không bán để đầu tư dài hạn, lâu dài. Điều này thường có kết cục không tốt bởi cổ phiếu 3 ký tự khác với cổ phiếu giá trị nếu giữ lâu dài. Nói cách khác, bạn là nhà cơ cổ phiếu nhưng bạn lại hy vọng trở thành giống như Warren Buffet.
  </p>
  <h3>Bài học
  </h3>
  <p>Sự khác nhau về hành động giữa đầu tư giá trị và đầu cơ là ở chỗ một bên cần sự điềm tĩnh và lâu dài còn một bên cần sự dứt khoát và nhanh. Nếu bạn hoán đổi điều này, bạn sẽ sai. Vậy, bài học rút ra là bạn cần phải có nguyên tắc và kiên định với lựa chọn của mình. Việc nhầm lẫn giữa cách tiếp cận và hành động, nói cách khác là thay đổi nguyên tắc ban đầu, đôi khi có thể giúp bạn thành công về tiền bạc một lúc nào đó, nhưng nó không giúp bạn trở thành một nhà đầu tư hay đầu cơ thực thụ.</p>
  <p>Nếu bạn lựa chọn cổ phiếu giá trị, hãy yên tâm rằng về dài hạn nó sẽ ổn. Nếu chẳng may bạn mua giá cao, “giá trị” giống như một sự bảo hiểm cho bạn vậy. Bạn cần chọn và lập cho mình một danh sách cổ phiếu theo “3 nhóm ngành” để tận dụng tốt sự phân lớp của cổ phiếu trong các giai đoạn phát triển của thị trường.
  </p>
  <p>Nếu bạn lựa chọn cổ phiếu theo xu hướng dòng tiền đầu cơ, hãy nhớ rằng chỉ nên nghĩ đó là cơ hội. Theo hướng này, bạn cần chọn và lập cho mình một danh sách cổ phiếu theo “3 nhóm rủi ro” để sẵn sàng cho sự luân chuyển dòng tiền tùy vào giai đoạn của thị trường.
  </p>
  <p> Và quan trọng nhất, bạn hoàn toàn có thể làm cả hai, tức là có trong tay hai nhóm cổ phiếu nêu trên nhưng bạn không được nhầm lẫn về cách hành xử giữa hai nhóm này. Hành xử khác nhau cho hai nhóm cổ phiếu khác nhau là quan trọng. Đây thực chất cũng là một cách “đa dạng hóa” trong nguyên lý quan trị rủi ro danh mục đầu tư.
  </p>
  <p>Những điều nêu trên tôi đã trình bày trong bài giảng tuần vưa rồi, nhưng hy vọng rằng bài viết này nói được kỹ hơn những gì tôi muốn truyền tải.
  </p>
</ion-content>
