<ion-header>
  <ion-toolbar color="primary">
    <ion-title><span translate>Bài 1: Kiểm soát cảm xúc để thành công</span></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lecture"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <h1>Bài 1: Kiểm soát cảm xúc để thành công</h1>

  <p>
    Đây là bài đầu tiên tôi viết để cảm ơn các bạn đã theo dõi tôi trong 1 tuần qua theo đúng tin thần “giúp bạn làm giàu
    kiến thức để ra quyết đinh” . Các bài viết của tôi có sử dụng kiến thức hàn lâm nhưng sẽ được viết theo cách dân dã
    cho dễ hiểu. Tôi sẽ lựa chọn những chủ đề gần với điều kiện thị trường hiện tại để viết trước. Và hôm nay là chủ đề
    về kiểm soát cảm xúc
  </p>
  <p>
    Chúng ta lâu nay vẫn thường nghĩ rằng mình ra quyết định là dựa trên lý trí - tức là có cân nhắc thiệt hơn. Nhưng sự thật không phải vậy. Chúng ta thường ra quyết định dựa trên tâm lý và cảm xúc. Điều này đúng với gần như mọi vấn đề của cuộc sống, từ quan hệ bạn bè, gia đình, tới những vấn đề xã hội và kinh doanh.
  </p>
  <p>
    Những kiến thức về tâm lý và cảm xúc có nhiều trên mạng hay có trong giáo trình giảng dạy ở các trường đại học. Trong đầu tư và giao dịch chứng khoán, có cả một mảng về tài chính hành vi nhằm giải thích tại sao con người hành động/ra quyết định không dựa trên lý trí như các lý thuyết truyền thống.
  </p>
  <p>
    Tất nhiên là tôi không có ý định đưa ra những khái niệm về những vấn đề nêu trên bởi chỉ cần một lệnh tìm kiếm trên Google là bạn có vô số kiền thức về nó. Điều tôi muốn chia sẻ nằm ở việc liên hệ nó với việc ra quyết định như thế nào trong các điều kiện thị trường cụ thể. Nhận diện cảm xúc và kiểm soát cảm xúc có thể sẽ là chìa khóa để bạn thành công trong điều kiện thị trường hiện tại. Nhìn chung trong cuộc sống, khi chúng ta hưng phấn, chúng ta thường khó kiểm soát hành vi .
  </p>

  <h1>Nhận diện cảm xúc</h1>

  <p>Tôi có đọc nhiều sách nói về tâm lý và cảm xúc khác nhau, làm việc ở nhiều môi trường, và trải qua các vị trí công việc khác nhau liên quan tới việc ra quyết định, cả trong cuộc sống và trong kinh doanh hay đầu tư tài chính. Và tất nhiên tôi đã trải qua nhiều cung bậc thị trường, cũng như trải qua thời oanh liệt với biệt danh “Quất Mạnh Vào” hay thời khốn khó mà thị trường nghĩ rằng tôi là người đã làm chìm con thuyền chứng khoán Thăng Long ngày trước. Quả thực, nếu chỉ bằng ngòi bút - những phân tích chứng khoán không vụ lợi - mà có thể làm được như vậy thì tôi nên tự hào về điều đó.
  </p>
  <p>Nói như vậy để thấy rằng tôi đã trả qua nhiều cung bậc cảm xúc khác nhau trong nghề. Mặc dù sách vở có thể nói khác, con người học thuật của tôi nhìn thấy từ chính con người thực tiễn của tôi kinh nghiệm rằng trong đầu tư chứng khoán, tâm lý cảm xúc (tất nhiên là theo nghĩa tiêu cực tới việc ra quyết định) xoay quanh 4 trạng thái cơ bản: hy vọng, nuối tiếc, tham lam và sợ hãi.</p>
  <p>“Hy vọng” thường xảy ra khi bạn giữ cổ phiếu và giá giảm, mặc dù lý trí của bạn nói rằng triển vọng sẽ là giảm, nhưng bạn vẫn “hy vọng” nó sẽ quay trở lại, bởi vì bạn “nuối tiếc” đã không bán lúc giá tốt. Hoặc khi bạn đang giữ tiền, và giá cổ phiếu tăng, lý trí nói rằng triển vọng giá tăng, nhưng bạn vẫn “hy vọng” nó điều chỉnh để bạn vào bởi vì bạn “nuối tiếc” đã không vào.
  </p>
  <p>Dấu hiệu quan trọng nhất của “hy vọng” là bạn thường làm điều này một mình, suy tính một mình mà không dám chia sẻ với người khác, bạn sẽ chỉ đọc những thông tin có lợi cho hy vọng của mình và bỏ qua thông tin bất lợi.
  </p>
  <p>“Tham lam” thường xảy ra khi hứng phấn, khi lý trí nói rằng giá mục tiêu đã đạt nhưng bạn vẫn muốn giữ nó hoặc đã bán rồi lại lập tức quay lại mua bởi vì bạn “nuối tiếc” một khoản lãi tiềm năng. Ngược lại “sợ hãi” thường xảy ra mạnh nhất khi bạn đang nắm trong tay một cổ phiếu giảm giá và thường xuyên nghĩ đến bán mặc dù lý trí nói rằng nó có thể không còn giảm nữa.
  </p>
  <p>Dấu hiệu quan trọng nhất của tham lam/sợ hãi là bạn sẽ làm điều này theo đám đông, bạn nói chuyện với rất nhiều người, và khi đọc tin tức bạn cũng sẽ có xu hướng đề cao thông tin ủng hộ cho quyết định của bạn. Bạn thường tưởng tượng quá xa khi đọc tin.
  </p>
  <p>Cảm xúc nuối tiếc sẽ thường xuyên xuất hiện trong đầu tư tài chính. Dấu hiệu quan trọng nhất của cảm xúc nuối tiếc là khi bạn luôn nghĩ về những cái mất nhiều hơn là cái được, kể cả những cái mất do bạn không bán được giá cao nhất mặc dù thực tế bạn không mất tiền.
  </p>
  <h2>Kiểm soát cảm xúc</h2>
  <p>Khi bạn gặp phải những tình huống nêu trên, nghĩa là bạn đang giao dịch dựa trên cảm xúc. Giới khoa học đã có nhiều bằng chứng rằng nếu bạn ra quyết định hành động dựa trên cảm xúc, khả năng thất bại thường cao hơn, mặc dù bạn có thể thành công một hai lần.
  </p>
  <p>Nhận ra mình đang trong trạng thái cảm xúc nào đó đã khó, việc kiềm soát cảm xúc để thành công còn khó khăn hơn rất nhiều. Nếu chỉ nói “đừng nghĩ như thế nữa” thì quá dễ, nhưng lại quá khó cho người thực hiện. Kinh nghiệm từ những người giao dịch cá nhân thường là “hãy làm một việc gì đó khác”.
  </p>

  <h3>Một cách bài bản hơn, dựa trên việc xem nhiều sách và khóa học về đầu tư và giao dịch chứng khoán, tôi nhận thấy cách sau đây khá hữu hiệu:
  </h3>
  <p>Hãy xây dựng cho mình một cách chọn cổ phiếu và nguyên tắc đầu tư. Bạn nên coi việc đầu tư giống như một công việc kinh doanh thay vì một sở thích. Hãy viết những điều đó ra thay vì nhớ nó ở trong đầu.
  </p>
  <p>Khi bạn gặp các dấu hiệu của cảm xúc lấn át lý trí như ở trên, phải tìm cách trở lại với nguyên tắc của mình. Việc này nói thì dễ, làm thì khó. Nhưng bạn có thể kiềm chế cảm xúc bằng việc đặt ra các câu hỏi “tại sao lại chờ giá tăng/giảm?”, “tại sao lại mua lại/bán ngay?” .v.v. và mở nguyên tắc của mình ra để tìm câu trả lời. Hãy luôn nhớ rằng bạn đã chọn cổ phiếu theo nguyên tắc gì thì khi bán cũng theo nguyên tắc đó.
  </p>
  <p>Một điểm quan trọng trong kiểm soát cảm xúc là khi bạn đã bán, hãy cố gắng coi đó là một công việc đã hoàn thành và bạn nên nghỉ ngơi, dù lãi hay lỗ, nhiều hay ít. Bạn cũng nên nói chuyện với nhiều người hơn nếu rơi vào cảm xúc “hy vọng” hoặc hạn chế nói chuyện với người khác nếu đó là cảm xúc “tham lam”/”sợ hãi”.
  </p>
  <h3>Và cuối cùng, khi bị cảm xúc chi phối, trước khi làm gì hãy luôn nhớ rằng "mất tiền sẽ làm bạn đau nhiều và lâu hơn nhiều so với được tiền" và điều này sẽ không tốt cho sức khỏe tinh thần của bạn. Còn tiền còn sức khỏe là còn cơ hội.</h3>
</ion-content>
